.mainHomeContainer{
    width: 100%;
}
.mainWrapper{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}
.MHTop{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MHTop img{
    width: 45%;
    height: 100%;
}

.MHCenter{
    width: 100%;
    margin-top: 70px;

}
.MHCenter h3{
    color: #005493;
}
.MHCenter p{
    width: 65%;
}
.sericeProvide{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
}
.sericeProvide img{
    width: 300px;
    height: 300px;
}
.sericeProvide .service p{
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
}