.koelcellenContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.firstSection{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bg-img{
    width: 60%;
    background-color: red;
    display: flex;
    justify-content: center;
}
.bg-img img{
    width: 100%;
}
.koelcellenMain{
    width: 80%;
    margin-top: 30px;
}
.koelcellenMain h1{
    color: #005493;
    font-weight: bold;
    margin-bottom: 15px;
}
.koelDesctioption{
    width: 86%;
    display: flex;
    flex-direction: column;

}
.koelDesctioption p{
    font-size: 18px;
}

.secondP{
    margin-bottom: 25px;
  }
  .thiredDiv{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    margin: 100px 0;

  }
.thiredDivTitle{
    display: flex;
    width: 100%;
    flex-direction: column;
    
}
.thiredDiv p{
    color: #005493;
    font-size: 28px;

}
ul{
    margin-left: 30px;
}
ul li {
    margin: 10px 0;
   
}


/* SECTINO TOW STYLE */

.secondSectino{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.SectionTowHeader{
    width: 65%;
    background-color: #005493;
    height: 150px;
    margin-bottom: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.SectionTowHeader:hover{
    background-color: #193e5a;
    cursor: pointer;
}
.SectionTowHeader h3{
    color: white;
   
}

.SectionTowHeader p{
    color: white;
}
  

.imagesSection{
    display: flex;
    width: 75%;
    flex-direction: row;
    margin-bottom: 50px;
    cursor: pointer;
}

.imagesSection .imgleft{
    flex:0.5;

}
.imagesSection .imgleft img{
    width: 500px;
    margin-right: 20px;
    
}
.imagesSection .imgRight{
    flex: 1;
}
.imagesSection .imgRight img{
    width: 230px;
    height: 230px;
    margin: 10px;
}
.imagesSection .imgRight img:hover{
    transform: scale(1.1);
}

/* SECTIN THREE STYLE  */

.sectionThree{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sectionThreeWrapper{
    display: flex;
    width: 70%;
    flex-direction: row;
}
.sectionThredleft{
    flex: 2;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px;
}
.descOne h2{
    color: #005493;
    margin-bottom: 20px;
    font-weight: bold;
}

.sectionThredRight{
    flex: 1;
    display: flex;
    justify-content: center;
    
   
}
.descOne p {
    font-size: 20px;
}
.ThredRightWrapper{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.ThredRightWrapperTop{
    padding: 25px 0;
    background-color: #005493;
    margin-bottom: 10px;
    cursor: pointer;
}
.ThredRightWrapperBottom{
    padding: 25px 0;
    background-color: #DA0924;   
    cursor: pointer;
}
.ThredRightWrapperBottom:hover,
.ThredRightWrapperTop:hover{
    transform: scale(1.03);
}
.ThredRightWrapperTop h4{
    color: white;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.ThredRightWrapperBottom h4{
    color: white;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

@media only screen and (max-width: 1700px){
    .SectionTowHeader{
        width: 80%;
    }

    .imagesSection{
        width: 90%;
    }
    .imgleft img{
        width: 300px;
    } 
    .imagesSection .imgRight img{
        width: 190px;
        height: 190px;
    }
    .sectionThree{
        width: 90%;
       
    }
    .sectionThreeWrapper{
        width: 100%;
    }
}

@media only screen and (max-width: 1300px){

    .sectionThreeWrapper{
        flex-direction: column;
        margin-bottom: 50px;
    }
   .ThredRightWrapperTop{
       width: 60%;
       margin: 5px auto;
   }
   .ThredRightWrapperTop h4{
       font-size: 20px;
   }
   .ThredRightWrapperBottom{
    width: 60%;
    margin: 0 auto;
   }
   .ThredRightWrapperBottom h4{
    font-size: 20px;
   }
  
    .sectionThree{
        width: 90%;
       
    }
    .sectionThredRight{
        width: 100%;
    }
    .ThredRightWrapper{
        width: 90%;
    }
    .sectionThreeWrapper{
        width: 100%;
    }
    .firstSection{
        width: 90%;
    }
    .bg-img{
        width: 80%;
    }
    .thiredDiv{
        width: 90%;
    }
    .koelcellenMain{
        width: 90%;
    }
    .imagesSection{
        width: 90%;
    }
    .imgleft img{
        width: 300px;
    } 
    .imagesSection .imgRight img{
        width: 150px;
        height: 150px;
    }
   }

   @media only screen and (max-width: 1006px){
    .ThredRightWrapperTop{
        width: 70%;
      
    }
    .ThredRightWrapperTop h4{
        font-size: 17px;
    }
    .ThredRightWrapperBottom{
     width: 70%;
   
    }
    .ThredRightWrapperBottom h4{
     font-size: 17px;
    }
    .sectionThreeWrapper{
           flex-direction: column;
       }
    .thiredDiv{
        flex-direction: column;
    }
    .thiredDivTitle{
        margin-bottom: 50px;
    }
    .secondSectino{
        width: 100%;
    }
    .SectionTowHeader{
        width: 90%;
    }
    
    .imgRight{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .imagesSection{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imagesSection .imgRight img{
        width: 170px;
        height: 170px;
    }
   }



@media only screen and (max-width: 860px){
    .ThredRightWrapperTop{
        width: 90%;
       
    }
    .ThredRightWrapperTop h4{
        font-size: 17px;
    }
    .ThredRightWrapperBottom{
     width: 90%;
    
    }
    .ThredRightWrapperBottom h4{
     font-size: 17px;
    }
 .firstSection{
     width: 100%;
 }
 .bg-img{
     width: 90%;
 }
 .secondSectino{
     width: 100%;
 }
 .SectionTowHeader{
     width: 90%;
     height: 100px;
 }
 .SectionTowHeader{
    width: 100%;
}
.imgleft img{
    height: 400px;
}
.imgRight{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imagesSection{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagesSection .imgRight img{
    width: 160px;
    height: 160px;
}
}

@media only screen and (max-width: 470px){
   .koelcellenMain h1{
        font-size: 28px;
   }
    .koelcellenMain p{
        font-size: 17px;
   }
   .imgleft img{
    width: 50%;
}
.imagesSection{
    width: 100%;
}
.imagesSection .imgRight img{
    width: 130px;
    height: 130px;
}
.ThredRightWrapperTop{
    width: 100%;
   
}

.ThredRightWrapperBottom{
 width: 100%;

}
   }
